<span
  style="font-size: 12px; line-height: 20px; font-weight: 500; color: #ec8c25; padding-top: 10px; "
>Các gói premium khác nhau.</span>
<div style="display: flex; flex-direction: column; align-items: center">
  <div class="box__premium-register">
    <h1 style="text-align: center; color: #ec8c25">
      Đăng kí dịch vụ premium
    </h1>

    <div
      style="display: flex; align-items: center;
              justify-content: space-around;"
    >
      <div class="card" style="max-width: 220px; height: 260px;">
        <div class="card-body" style="position: relative;">
          <p style="font-size: 18px; font-weight: 700; color: #ec8c25;">Gói trải
            nghiệm: 30.000đ</p>
          <p style="font-size: 14px;">Thời hạn: 1 tuần</p>
          <p style="font-size: 12px;">Bạn sẽ có những trải nghiệm với đầy đủ
            tính năng của tài khoản premium trong thời gian 1 tuần
          </p>
          <div
            class="text-center"
            style="position: absolute; bottom: 0; 
              padding-bottom: 10px;
              left: 50%;
              transform: translateX(-50%);"
          >
            <a
              href="/premium/register?type=1"
              type="button"
              class="btn btn-outline-primary register_premium_btn btn-lg"
            >Đăng kí
            </a>
          </div>
        </div>
      </div>
      <div class="card" style="max-width: 220px; height: 260px;">
        <div class="card-body" style="position: relative;">
          <p style="font-size: 18px; font-weight: 700; color: #ec8c25;">Gói cơ
            bản: 100.000đ</p>
          <p style="font-size: 14px;">Thời hạn: 1 tháng</p>
          <p style="font-size: 12px;">Bạn sẽ có những trải nghiệm với đầy đủ
            tính năng của tài khoản premium trong thời gian 1 tháng
          </p>
          <div
            class="text-center"
            style="position: absolute; bottom: 0; 
              padding-bottom: 10px;
              left: 50%;
              transform: translateX(-50%);"
          >
            <a
              href="/premium/register?type=2"
              type="button"
              class="btn btn-outline-primary register_premium_btn btn-lg"
            >Đăng kí
            </a>
          </div>
        </div>
      </div>
      <div class="card" style="max-width: 220px; height: 260px;">
        <div class="card-body" style="position: relative;">
          <p style="font-size: 18px; font-weight: 700; color: #ec8c25;">Gói cao
            cấp: 190.000đ</p>
          <p style="font-size: 14px;">Thời hạn: 2 tháng</p>
          <p style="font-size: 12px;">Bạn sẽ có những trải nghiệm với đầy đủ
            tính năng của tài khoản premium trong thời gian 2 tháng
          </p>
          <div
            class="text-center"
            style="position: absolute; bottom: 0; 
              padding-bottom: 10px;
              left: 50%;
              transform: translateX(-50%);"
          >
            <a
              href="/premium/register?type=3"
              type="button"
              class="btn btn-outline-primary register_premium_btn btn-lg"
            >Đăng kí
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-notice">
    <span
      style="font-size: 16px;
                  font-weight: 600;
                  color: #ec8c25;"
    >Lưu ý</span>
    <ul>
      <li
        style="font-size: 12px;
                    font-weight: 600;
                    padding-left: 5px;"
      >
        (*) Khi gặp các trường hợp lỗi trong quá trình đăng kí. Hãy gọi đến tổng
        đài 1900 6768. Chúng tôi sẽ chỉ phối hợp hỗ trợ khách hàng trong trường
        hợp thực sự cần thiết và trong phạm vi của chúng tôi.
      </li>
    </ul>
  </div>
</div>