<!--MAIN-->
<div
  style="
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
          "
>
  <div class="box__user_pages">
    <div class="row">
      <div class="col-4">
        <div class="user__sidebar">
          <img
            src="./assets/images/default.jpg "
            alt="logo user"
            class="user-image"
          />
          <span class="user-name">Nguyễn Văn A</span>
          <ul class="list__item">
            <li class="item">
              <a href="./user_page_info.html">Thông tin tài khoản</a>
            </li>
            <li class="item" id="item__active">
              <a href="./user_page_change_password.html">Đổi mật khẩu</a>
            </li>
            <li class="item">
              <a href="./user_page_history_activities.html">Lịch sử hoạt động</a>
            </li>
            <li class="item">
              <a href="./user_page_spend_management.html">Quản lý chi tiêu</a>
            </li>
            <li class="item"><a href="./index.html">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <div class="user__info">
          <span class="title">Đổi mật khẩu
            <hr />
          </span>
          <form action="#" method="post">
            <label for="cur_password" class="title__input">Mật khẩu hiện tại</label>
            <input
              type="password"
              id="cur_password"
              value="*************"
              style="width: 100%"
            />
            <label for="new_password" class="title__input">Mật khẩu mới</label>
            <input
              type="password"
              id="new_password"
              value=""
              style="width: 100%"
            />
            <label for="new_password_check" class="title__input">Xác nhận mật
              khẩu mới</label>
            <input
              type="email"
              id="new_password_check"
              value=""
              style="width: 100%"
            />
            <input
              type="button"
              value="Cập nhật mật khẩu"
              class="button-update-pass"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN-->