<!--MAIN-->
<div
  style="
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
          "
>
  <div class="box__user_pages">
    <div class="row">
      <div class="col-5">
        {{> sidebar-account}}
      </div>
      <div class="col-7">
        <div class="user__info">
          <span class="title">Quản lý chi tiêu
            <hr />
          </span>
          <span>Bạn chưa đăng kí dịch vụ Premium</span>
          <a
            href="./register_premium.html"
            style="font-size: 1.2rem; color: #ea5114"
          >Trải nghiệp ngay</a>
          <ul>
            <li>
              <a href="#">
                <span>8h 14/3/2023</span>
                <span>Bạn vừa mua tài khoản premium</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>10h 14/1/2023</span>
                <span>Bạn vừa mua tài khoản premium</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>14h 14/12/2022</span>
                <span>Bạn vừa mua tài khoản premium</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN-->