{{#if alertData}}
  {{> alert}}
{{/if}}
<!--MAIN-->
<div
  style="
            display: flex;
            min-width: 1100px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
          "
>
  <div class="box__user_pages">
    <div class="row" style="min-width: 100%;">
      <div class="col-4">
        {{> sidebar-account}}
      </div>
      <div class="col-8">
        <div class="user__info">
          <span class="title">Đổi mật khẩu
            <hr />
          </span>
          <form action="/users/account/update?view=password" method="post" id="formUpdatePassword">
            <div class="row">
              <div class="box__info_left col-12">
                {{#if noteCreatePassword}}
                  <div class="alert alert-warning" role="alert" style="font-size: 14px;">
                    Bạn nên cập nhật mật khẩu để có thể đăng nhập với email trong những lần sau.
                  </div>
                  <input type="hidden" name="check" value="1" />
                {{else}}
                  <label for="cur_password" class="title__input" style="font-size: 16px;">Mật khẩu hiện tại</label>
                  <input type="password" id="cur_password" placeholder="*************"
                    style="width: 60%  height: 40px; line-height: 30px; font-size: 14px; border-radius: 10px;"
                    name="curPassword"
                    required
                    {{! pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" }}
                  />
                {{/if}}
                <label for="new_password" class="title__input" style="font-size: 16px;">Mật khẩu mới</label>
                <input
                  type="password"
                  id="new_password"
                  placeholder="*************"
                  name="newPassword"
                  style="width: 60%  height: 40px; line-height: 30px; font-size: 14px; border-radius: 10px;"
                  required
                  {{! pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" }}
                />
                <label for="new_password_check" class="title__input" style="font-size: 16px;">Xác nhận mật
                  khẩu mới</label>
                <input
                  type="password"
                  id="new_password_check"
                  placeholder="*************"
                  name="newConfirmPassword"
                  style="width: 60%  height: 40px; line-height: 30px; font-size: 14px; border-radius: 10px;"
                  required
                  onkeyup="checkPasswordConfirm('formUpdatePassword')"
                />
                <button type="submit" class="form__btn" id="btn_login" style="margin: 0 auto; margin-top: 10px">Cập nhật</button>
              </div>
            </div>
          </form>
          {{#if userPasswordMessage}}
            <div class="alert alert-info" role="alert" style="font-size: 14px;">
              {{userPasswordMessage}}
            </div>
          {{/if}}
          {{#if updateMessage}}
            <div class="col md-12">
              <div class="p-3 mt-3 alert alert-warning">{{{updateMessage}}}</div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN-->