<!--MAIN-->
<div
  style="
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
          "
>
  <div class="box__user_pages">
    <div class="row">
      <div class="col-4">
        {{> sidebar-account}}
      </div>
      <div class="col-8">
        <div class="user__info">
          <span class="title">Đổi mật khẩu
            <hr />
          </span>
          <form action="#" method="post">
            <label for="cur_password" class="title__input">Mật khẩu hiện tại</label>
            <input
              type="password"
              id="cur_password"
              placeholder="*************"
              style="width: 100%"
            />
            <label for="new_password" class="title__input">Mật khẩu mới</label>
            <input
              type="password"
              id="new_password"
              placeholder=""
              style="width: 100%"
            />
            <label for="new_password_check" class="title__input">Xác nhận mật
              khẩu mới</label>
            <input
              type="email"
              id="new_password_check"
              placeholder=""
              style="width: 100%"
            />
            <input
              type="button"
              value="Cập nhật mật khẩu"
              class="button-update-pass"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MAIN-->