<!--MAIN-->
<div
  style="
            display: flex;
            min-width: 1100px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
          "
>
  <div class="box__user_pages">
    <div class="row" style="min-width: 100%;">
      <div class="col-4">
        {{> sidebar-account}}
      </div>
      <div class="col-8">
              <div class="user__info">
                <span class="title">Lịch sử hoạt động
                  <hr />
                </span>
                <p>Tính năng này đang được phát triển</p>
                {{!-- <ul>
                  <li>
                    <a href="#">
                      <span>8h 14/3/2023</span>
                      <span>Bạn vừa bình luận tại bài viết abc</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>10h 14/3/2023</span>
                      <span>Bạn vừa đọc bài báo Hiệp định VN-USA về thủy hải
                        sản</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>14h 14/3/2023</span>
                      <span>Bạn vừa thích bình luận của TuanABC trong bài Kinh tế
                        vùng biển Vịnh bắc bộ</span>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
    </div>
  </div>
</div>
<!--MAIN-->