<div class="form__container">
  <span class="form__name">Quên mật khẩu</span>
  {{#if done}}
    <p class="alert alert-success py-3">
      Đã gửi tin nhắn vào email của bạn. Vui lòng làm theo hướng dẫn để đặt lại
      mật khẩu.
    </p>
  {{else}}
    <p>
      Nhập email đã đăng kí tài khoản, bạn sẽ nhận được email hướng dẫn đặt lại
      mật khẩu.
    </p>
  {{/if}}
  {{#unless done}}
    <form action="/users/forgot" method="post" id="formForgot">
      <div class="form__input-box">
        <input
          type="text"
          class="form__input"
          placeholder="Email"
          name="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
      </div>
      <button type="submit" class="form__btn" id="btn_login">Lấy lại mật khẩu</button>
    </form>
    {{#if message}}
      <div class="col md-12">
        <div class="p-3 mt-3 alert alert-warning">
          {{{message}}}
        </div>
      </div>
    {{/if}}
  {{/unless}}
</div>