<div class="form__container">
  <span class="form__name">Quên mật khẩu</span>
  <form id="form__signin">
    <div class="form__input-box">
      <input
        type="text"
        class="form__input"
        placeholder="Số điện thoại/Email"
        name="username"
        required
      />
    </div>
    <button type="submit" class="form__btn" id="btn_login">Lấy lại mật khẩu</button>
  </form>
</div>