<div class="box__premium">
  <div class="box__premium-preview">
    <span class="title" style="font-size: 16px; font-weight: 600">
      Bạn đang tìm kiếm một trang đọc báo chuyên nghiệp và đầy đủ nhất để cập
      nhật các tin tức và bài báo mới nhất?<br />
      Với dịch vụ Premium của chúng tôi, bạn sẽ có thể truy cập đến hàng ngàn ấn
      bản báo chí từ nhiều nguồn khác nhau một cách dễ dàng và tiện lợi.
    </span>
    <span
      style="
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #ec8c25;
              "
    >Những ưu đãi nhận được:</span>
    <ul>
      <li
        style="
                  padding: 5px 0 5px 5px;
                  font-size: 12px;
                  font-weight: 400;
                "
      >
        Xem và tải về ấn bản: Với chức năng Premium, bạn sẽ được phép xem và tải
        về các ấn bản trực tiếp trên trang web của chúng tôi. Bất kể bạn đang ở
        đâu và trong thời gian nào, bạn đều có thể truy cập vào bộ sưu tập báo
        chí của chúng tôi để đọc các bài báo, tin tức và tạp chí một cách thuận
        tiện và nhanh chóng.
      </li>
      <li
        style="
                  padding: 5px 0 5px 5px;
                  font-size: 12px;
                  font-weight: 400;
                "
      >
        Đọc các bài báo Premium: Ngoài các tin tức chính thống, chức năng
        Premium của chúng tôi còn cho phép bạn đọc các bài báo premium độc quyền
        từ những nguồn tin tức hàng đầu. Bạn sẽ được cập nhật những thông tin
        mới nhất về các chủ đề, vấn đề đang được quan tâm, cũng như những phân
        tích và đánh giá chuyên sâu từ các chuyên gia.
      </li>
      <li
        style="
                  padding: 5px 0 5px 5px;
                  font-size: 12px;
                  font-weight: 400;
                "
      >
        Không quảng cáo: Khi đăng ký dịch vụ Premium của chúng tôi, bạn sẽ được
        trải nghiệm trang web không có quảng cáo. Điều này sẽ giúp bạn tránh
        khỏi các quảng cáo làm phiền và tập trung hơn vào việc đọc các bài báo.
      </li>
    </ul>
    <span style="font-size: 14px; line-height: 20px; font-weight: 500">Với các
      tính năng ưu việt của chức năng Premium của chúng tôi, bạn sẽ không bỏ lỡ
      bất kỳ tin tức nào và luôn cập nhật những thông tin mới nhất. Hãy đăng ký
      ngay để trở thành thành viên Premium của chúng tôi và truy cập đến bộ sưu
      tập ấn bản báo chí đa dạng của chúng tôi.</span>
    <span
      style="
                font-size: 12px;
                line-height: 20px;
                font-weight: 500;
                color: #ec8c25;
                padding-top: 10px;
              "
    >Các gói premium khác nhau.</span>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div class="box__premium-register">
      <h1 style="text-align: center; color: #ec8c25">
        Đăng kí dịch vụ premium
      </h1>

      <div
        style="display: flex; align-items: center;
             justify-content: space-around;"
      >
        <div class="card" style="max-width: 220px; height: 260px;">
          <div class="card-body" style="position: relative;">
            <p style="font-size: 18px; font-weight: 700; color: #ec8c25;">Gói cơ
              bản: 30.000đ</p>
            <p style="font-size: 14px;">Thời hạn: 1 tuần</p>
            <p style="font-size: 12px;">Bạn sẽ có những trải nghiệm cơ bản với
              đầy đủ tính năng của tài khoản premium trong thời gian 1 tuần
            </p>
            <div
              class="text-center"
              style="position: absolute; bottom: 0; 
            padding-bottom: 10px;
            left: 50%;
            transform: translateX(-50%);"
            >
              <a
                href="/register-premium"
                type="button"
                class="btn btn-outline-primary register_premium_btn btn-lg"
              >Đăng kí
              </a>
            </div>
          </div>
        </div>
        <div class="card" style="max-width: 220px; height: 260px;">
          <div class="card-body" style="position: relative;">
            <p style="font-size: 18px; font-weight: 700; color: #ec8c25;">Gói cơ
              bản: 30.000đ</p>
            <p style="font-size: 14px;">Thời hạn: 1 tuần</p>
            <p style="font-size: 12px;">Bạn sẽ có những trải nghiệm cơ bản với
              đầy đủ tính năng của tài khoản premium trong thời gian 1 tuần
            </p>
            <div
              class="text-center"
              style="position: absolute; bottom: 0; 
            padding-bottom: 10px;
            left: 50%;
            transform: translateX(-50%);"
            >
              <a
                href="/register-premium"
                type="button"
                class="btn btn-outline-primary register_premium_btn btn-lg"
              >Đăng kí
              </a>
            </div>
          </div>
        </div>
        <div class="card" style="max-width: 220px; height: 260px;">
          <div class="card-body" style="position: relative;">
            <p style="font-size: 18px; font-weight: 700; color: #ec8c25;">Gói cơ
              bản: 30.000đ</p>
            <p style="font-size: 14px;">Thời hạn: 1 tuần</p>
            <p style="font-size: 12px;">Bạn sẽ có những trải nghiệm cơ bản với
              đầy đủ tính năng của tài khoản premium trong thời gian 1 tuần
            </p>
            <div
              class="text-center"
              style="position: absolute; bottom: 0; 
            padding-bottom: 10px;
            left: 50%;
            transform: translateX(-50%);"
            >
              <a
                href="/register-premium"
                type="button"
                class="btn btn-outline-primary register_premium_btn btn-lg"
              >Đăng kí
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-notice">
      <span
        style="font-size: 16px;
                font-weight: 600;
                color: #ec8c25;"
      >Lưu ý</span>
      <ul>
        <li
          style="font-size: 12px;
                  font-weight: 600;
                  padding-left: 5px;"
        >
          Gói Premium sẽ được kích hoạt trong vòng 6 giờ (giờ hành chính) sau
          khi chúng tôi nhận được thanh toán của bạn. Bạn sẽ nhận được thông báo
          sau khi được kích hoạt tài khoản Premium
        </li>
        <li
          style="font-size: 12px;
                  font-weight: 600;
                  padding-left: 5px;"
        >
          (*) Khách hàng lưu ý nhập chính xác Nội dung chuyển khoản ở trên.
          Chúng tôi không chịu trách nhiệm cho các trường hợp nhập sai. Chúng
          tôi sẽ chỉ phối hợp hỗ trợ khách hàng trong trường hợp thực sự cần
          thiết và trong phạm vi của chúng tôi.
        </li>
      </ul>
    </div>
  </div>
</div>