<div style="max-width: 1100px;" id="content">
    <div class="container__new">
        <h5 style="font-size: 30px;">Kinh doanh</h5>
        <h4 style="font-size: 30px;">Xổ số kiến thiết TP.HCM muốn thu hơn 2,2 tỷ USD giai đoạn 2021-2025
        </h4>
        <div class="author__time">
            <p class="author">
                Ngọc Tân
            </p>
            <p class="time">Chủ Nhật 12/03/2023 16:12 (GMT+7)</p>
            <div class="like__comment">
                <div class="like">
                    <button><i class="fa-solid fa-thumbs-up"></i></button>
                    <p>6</p>
                </div>
                <div class="comment">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal"><i
                            class="fa-solid fa-comment"></i></button>
                    <p>10</p>

                    <div class="modal modal-xl" id="myModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="font-size: 20px;">Bình luận</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card__comment">
                                        <div class="personal__img">
                                            <img
                                                src="https://scontent.fsgn13-3.fna.fbcdn.net/v/t1.6435-9/121172259_691283754825145_668356720972128544_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=u5Ic0mYMeycAX-pLYW3&_nc_ht=scontent.fsgn13-3.fna&oh=00_AfCY3Ms31A5LhLTb5h1TbjdKeFtFdkX_PiFrQHPM7JKovA&oe=64740652"></img>
                                        </div>
                                        <div class="card-body--comment"
                                            style="box-sizing: border-box; margin-left: 10px;">
                                            <p style="font-weight: bold;">Huỳnh Lê An</p>
                                            <p class="comment__content">Doanh thu xổ số ngày càng cao
                                            </p>
                                            <div class="like__comment">
                                                <div class="like">
                                                    <button><i
                                                            class="fa-solid fa-thumbs-up"></i></button>
                                                    <p>6</p>
                                                </div>
                                                <div class="comment">
                                                    <button><i class="fa-solid fa-comment"></i></button>
                                                    <p>10</p>
                                                </div>
                                                <div class="like__comment--time">
                                                    <p>29-04-2023</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__comment">
                                        <div class="personal__img">
                                            <img
                                                src="https://scontent.fsgn13-3.fna.fbcdn.net/v/t1.6435-9/121172259_691283754825145_668356720972128544_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=u5Ic0mYMeycAX-pLYW3&_nc_ht=scontent.fsgn13-3.fna&oh=00_AfCY3Ms31A5LhLTb5h1TbjdKeFtFdkX_PiFrQHPM7JKovA&oe=64740652"></img>
                                        </div>
                                        <div class="card-body--comment"
                                            style="box-sizing: border-box; margin-left: 10px;">
                                            <p style="font-weight: bold;">Huỳnh Lê An</p>
                                            <p class="comment__content">Doanh thu xổ số ngày càng cao
                                            </p>
                                            <div class="like__comment">
                                                <div class="like">
                                                    <button><i
                                                            class="fa-solid fa-thumbs-up"></i></button>
                                                    <p>6</p>
                                                </div>
                                                <div class="comment">
                                                    <button><i class="fa-solid fa-comment"></i></button>
                                                    <p>10</p>
                                                </div>
                                                <div class="like__comment--time">
                                                    <p>29-04-2023</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__comment">
                                        <div class="personal__img">
                                            <img
                                                src="https://scontent.fsgn13-3.fna.fbcdn.net/v/t1.6435-9/121172259_691283754825145_668356720972128544_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=u5Ic0mYMeycAX-pLYW3&_nc_ht=scontent.fsgn13-3.fna&oh=00_AfCY3Ms31A5LhLTb5h1TbjdKeFtFdkX_PiFrQHPM7JKovA&oe=64740652"></img>
                                        </div>
                                        <div class="card-body--comment"
                                            style="box-sizing: border-box; margin-left: 10px;">
                                            <p style="font-weight: bold;">Huỳnh Lê An</p>
                                            <p class="comment__content">Doanh thu xổ số ngày càng cao
                                                cao cao cao cao cao cao cao cao cao cao cao cao cao cao
                                                cao cao cao cao cao cao cao cao cao cao cao cao cao cao
                                                cao cao cao cao cao cao cao cao cao cao cao cao cao cao
                                                cao cao cao cao cao cao cao cao</p>
                                            <div class="like__comment">
                                                <div class="like">
                                                    <button><i
                                                            class="fa-solid fa-thumbs-up"></i></button>
                                                    <p>6</p>
                                                </div>
                                                <div class="comment">
                                                    <button><i class="fa-solid fa-comment"></i></button>
                                                    <p>10</p>
                                                </div>
                                                <div class="like__comment--time">
                                                    <p>29-04-2023</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <button onclick="generatePDF('content')" type="button" data-bs-toggle="modal"><i class="fa-solid fa-print fa-2xl"></i></button>
                </div>
            </div>
        </div>
        <div class="new" style="font-size: 20px;">
            <p class="abstract">Công ty xổ số kiến thiết TP.HCM đặt mục tiêu doanh thu giai đoạn
                2021-2025 đạt 53.200 tỷ đồng và lãi trước thuế vượt 7.000 tỷ, tốc độ tăng trưởng bình
                quân tối thiểu 8%/năm.</p>
            <p class="content">Theo chiến lược phát triển kinh doanh 5 năm (2021-2025) mới công bố, Công
                ty TNHH MTV Xổ số kiến thiết TP.HCM đặt mục tiêu tổng doanh thu giai đoạn này đạt 53.200
                tỷ đồng (tương đương hơn 2,2 tỷ USD quy đổi), lãi trước thuế vượt 7.000 tỷ đồng với tốc
                độ tăng trưởng bình quân hàng năm tối thiểu 8%. Khoản nộp ngân sách Nhà nước ước tính
                lên đến 18.400 tỷ đồng.</p>
            <p class="content">Với riêng năm nay, Xổ số kiến thiết TP.HCM đặt mục tiêu ghi nhận 11.370
                tỷ đồng doanh thu và lãi trước thuế 1.478 tỷ đồng, tương đương mức doanh thu bình quân
                mỗi tháng sẽ đạt 947 tỷ đồng và lãi trước thuế 123 tỷ/tháng. Công ty cũng dự kiến phát
                hành 2,8 triệu vé số.</p>
            <p class="content">Mục tiêu đến năm 2025, doanh thu của Xổ số kiến thiết TP.HCM sẽ đạt
                12.172 tỷ đồng và lãi trước thuế đạt 1.575 tỷ đồng, cao nhất trong giai đoạn này.</p>
            <p class="content">Theo báo cáo tài chính đã kiểm toán từ năm 2017-2021, doanh thu thực hiện
                lẫn lợi nhuận trước thuế của công ty xổ số truyền thống này liên tục tăng trưởng trước
                Covid-19. Tuy nhiên, kết quả kinh doanh từ năm 2020 bắt đầu giảm nhẹ, đạt doanh thu
                7.537 tỷ đồng và lãi trước thuế 1.347 tỷ đồng.</p>

            <img src="assets/images/news/news_search/new_5.png" class="img__new" alt="image">

            <p class="content">Đến năm 2021, ảnh hưởng của Covid-19 khiến thị trường phía Nam điêu đứng,
                doanh nghiệp gặp nhiều khó khăn khi phát hành vé số. Tình trạng này kéo doanh thu của Xổ
                số kiến thiết TP.HCM xuống còn 5.931 tỷ đồng và lãi trước thuế 1.090 tỷ đồng.</p>
            <p class="content">Bước sang năm 2022, cả doanh thu lẫn lợi nhuận của công ty đều bùng nổ.
                Tại hội nghị tổng kết hoạt động năm 2022, Tổng giám đốc Đỗ Quang Vinh cho biết doanh thu
                xổ số truyền thống của công ty đã vượt 18% kế hoạch cả năm, nhiều chỉ tiêu khác cũng
                vượt mục tiêu ban lãnh đạo đề ra.</p>
            <p class="content">Trong báo cáo chiến lược phát triển kinh doanh 5 năm, Xổ số kiến thiết
                TP.HCM ước tính thu về 11.132 tỷ đồng và lãi trước thuế 1.692 tỷ đồng trong năm 2022,
                tăng lần lượt 87% và 55% so với năm 2021. Số nộp ngân sách theo đó cũng tăng lên 4.157
                tỷ đồng.</p>
            <p class="content">Công ty TNHH MTV Xổ số kiến thiết TP.HCM tiền thân là Công ty Xổ số kiến
                thiết TP.HCM được chuyển đổi sang mô hình công ty TNHH một thành viên. Từ thời điểm
                thành lập năm 1978, công ty đã trải qua nhiều tên gọi khác nhau trước khi đăng ký mô
                hình hiện tại vào năm 2010.</p>
            <p class="content">Hoạt động kinh doanh chính của công ty là phát hành xổ số kiến thiết, in
                ấn, mua bán nguyên vật liệu, máy móc, thiết bị ngành in và xổ số. Ngoài ra, công ty còn
                kinh doanh bất động sản, đầu tư xây dựng, hạ tầng kỹ thuật khu công nghiệp, dân cư.</p>
            <p class="content">Tính đến giữa năm 2022, tổng tài sản của doanh nghiệp xổ số này đã vượt
                2.600 tỷ đồng, vốn chủ sở hữu tính đến hết tháng 6 cùng năm đạt gần 1.700 tỷ đồng. Nợ
                phải trả của doanh nghiệp khoảng 942 tỷ đồng.</p>
        </div>
    </div>
    <div class="related__news">
        <h4 style="font-size: 30px;">Bạn có thể quan tâm</h4>
        <hr>
        <div class="container my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a class="card" href="./readnews.html">
                            <img src="assets/images/news/news_search/new_1.png"
                                class="card-img-top card__img__latest__news" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Doanh nghiệp ngoại thống trị kênh đại lý du lịch
                                    trực tuyến
                                </h5>
                                <p class="card-text"><small class="text-muted">13:14 21/04/2023 Hải
                                        sản</small></p>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="card" href="./readnews.html">
                            <img src="assets/images/news/news_search/new_2.png"
                                class="card-img-top card__img__latest__news" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Doanh nghiệp ngoại thống trị kênh đại lý du lịch
                                    trực tuyến
                                </h5>
                                <p class="card-text"><small class="text-muted">13:14 21/04/2023 Hải
                                        sản</small></p>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="card" href="./readnews.html">
                            <img src="assets/images/news/news_search/new_3.png"
                                class="card-img-top card__img__latest__news" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Doanh nghiệp ngoại thống trị kênh đại lý du lịch
                                    trực tuyến
                                </h5>

                                <p class="card-text"><small class="text-muted">13:14 21/04/2023 Hải
                                        sản</small></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="card" href="./readnews.html">
                            <img src="assets/images/news/news_search/new_4.png"
                                class="card-img-top card__img__latest__news" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Doanh nghiệp ngoại thống trị kênh đại lý du lịch
                                    trực tuyến
                                </h5>

                                <p class="card-text"><small class="text-muted">13:14 21/04/2023 Hải
                                        sản</small></p>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="card" href="./readnews.html">
                            <img src="assets/images/news/news_search/new_1.png"
                                class="card-img-top card__img__latest__news" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Doanh nghiệp ngoại thống trị kênh đại lý du lịch
                                    trực tuyến
                                </h5>

                                <p class="card-text"><small class="text-muted">13:14 21/04/2023 Hải
                                        sản</small></p>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a class="card" href="./readnews.html">
                            <img src="assets/images/news/news_search/new_2.png"
                                class="card-img-top card__img__latest__news" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Doanh nghiệp ngoại thống trị kênh đại lý du lịch
                                    trực tuyến
                                </h5>

                                <p class="card-text"><small class="text-muted">13:14 21/04/2023 Hải
                                        sản</small></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>