<div class="container" style="margin-bottom: 400px;">
  <div class="section-header">
    <h3 style="text-align: center; font-size: 36px;">Message</h3>
    <p class="alert alert-error" style="font-size: 24px;">
      THANK YOU
    </p>
  </div>
</div>