<!--MAIN-->
<div class="main">
  <div class="container-main">
    <!--SIDE BAR
        <div class="sidebar">
          <div class="sidebar__wrapper">
            <ul class="sidebar__list">
              <li>
                <a
                  aria-current="page"
                  class="sidebar__item sidebar__active"
                  href="/"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="house"
                    class="svg-inline--fa fa-house"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z"
                    ></path>
                  </svg>
                  <span>Trang chủ</span>
                </a>
              </li>
              <li class="sidebar__item-have-child">
                <a
                  aria-current="page"
                  class="sidebar__item"
                  id="have-list-child"
                  href="/"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 640 512"
                  >
                    <path
                      d="M0 48C0 21.5 21.5 0 48 0H336c26.5 0 48 21.5 48 48V464c0 26.5-21.5 48-48 48H240V432c0-26.5-21.5-48-48-48s-48 21.5-48 48v80H48c-26.5 0-48-21.5-48-48V48zM80 224c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H80zm80 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm112-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H272zM64 112v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zM176 96c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H176zm80 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H272c-8.8 0-16 7.2-16 16zm384 80v16c0 44.2-35.8 80-80 80H544V272c0-44.2 35.8-80 80-80h16zm0 128c0 44.2-35.8 80-80 80H544V384c0-44.2 35.8-80 80-80h16v16zm0 112c0 44.2-35.8 80-80 80H544V496c0-44.2 35.8-80 80-80h16v16zM512 496v16H496c-44.2 0-80-35.8-80-80V416h16c44.2 0 80 35.8 80 80zm0-96H496c-44.2 0-80-35.8-80-80V304h16c44.2 0 80 35.8 80 80v16zm0-128v16H496c-44.2 0-80-35.8-80-80V192h16c44.2 0 80 35.8 80 80zM528 32c13.3 0 24 10.7 24 24V160c0 13.3-10.7 24-24 24s-24-10.7-24-24V56c0-13.3 10.7-24 24-24zm96 64v32c0 13.3-10.7 24-24 24s-24-10.7-24-24V96c0-13.3 10.7-24 24-24s24 10.7 24 24zM456 72c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24s-24-10.7-24-24V96c0-13.3 10.7-24 24-24z"
                    />
                  </svg>
                  <span>Kinh doanh</span>
                </a>
                <ul class="sidebar__list-child">
                  <i class="bi bi-caret-down-fill"></i>
                  <li>
                    <a aria-current="page" class="sidebar__item-child" href="./category_ns_news.html"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"
                      >
                        <path
                          d="M96 64c0-35.3 28.7-64 64-64H266.3c26.2 0 49.7 15.9 59.4 40.2L373.7 160H480V126.2c0-24.8 5.8-49.3 16.9-71.6l2.5-5c7.9-15.8 27.1-22.2 42.9-14.3s22.2 27.1 14.3 42.9l-2.5 5c-6.7 13.3-10.1 28-10.1 42.9V160h56c22.1 0 40 17.9 40 40v45.4c0 16.5-8.5 31.9-22.6 40.7l-43.3 27.1c-14.2-5.9-29.8-9.2-46.1-9.2c-39.3 0-74.1 18.9-96 48H352c0 17.7-14.3 32-32 32h-8.2c-1.7 4.8-3.7 9.5-5.8 14.1l5.8 5.8c12.5 12.5 12.5 32.8 0 45.3l-22.6 22.6c-12.5 12.5-32.8 12.5-45.3 0l-5.8-5.8c-4.6 2.2-9.3 4.1-14.1 5.8V480c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32v-8.2c-4.8-1.7-9.5-3.7-14.1-5.8l-5.8 5.8c-12.5 12.5-32.8 12.5-45.3 0L40.2 449.1c-12.5-12.5-12.5-32.8 0-45.3l5.8-5.8c-2.2-4.6-4.1-9.3-5.8-14.1H32c-17.7 0-32-14.3-32-32V320c0-17.7 14.3-32 32-32h8.2c1.7-4.8 3.7-9.5 5.8-14.1l-5.8-5.8c-12.5-12.5-12.5-32.8 0-45.3l22.6-22.6c9-9 21.9-11.5 33.1-7.6V192 160 64zm170.3 0H160v96h32H304.7L266.3 64zM176 256a80 80 0 1 0 0 160 80 80 0 1 0 0-160zM528 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm0 64c-48.6 0-88-39.4-88-88c0-29.8 14.8-56.1 37.4-72c14.3-10.1 31.8-16 50.6-16c2.7 0 5.3 .1 7.9 .3c44.9 4 80.1 41.7 80.1 87.7c0 48.6-39.4 88-88 88z"
                        />
                      </svg>
                      <span>Nông nghiệp</span>
                    </a>
                  </li>
                  <li>
                    <a aria-current="page" class="sidebar__item-child" href="./category_news _sea.html"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                      >
                        <path
                          d="M192 32c0-17.7 14.3-32 32-32H352c17.7 0 32 14.3 32 32V64h48c26.5 0 48 21.5 48 48V240l44.4 14.8c23.1 7.7 29.5 37.5 11.5 53.9l-101 92.6c-16.2 9.4-34.7 15.1-50.9 15.1c-19.6 0-40.8-7.7-59.2-20.3c-22.1-15.5-51.6-15.5-73.7 0c-17.1 11.8-38 20.3-59.2 20.3c-16.2 0-34.7-5.7-50.9-15.1l-101-92.6c-18-16.5-11.6-46.2 11.5-53.9L96 240V112c0-26.5 21.5-48 48-48h48V32zM160 218.7l107.8-35.9c13.1-4.4 27.3-4.4 40.5 0L416 218.7V128H160v90.7zM306.5 421.9C329 437.4 356.5 448 384 448c26.9 0 55.4-10.8 77.4-26.1l0 0c11.9-8.5 28.1-7.8 39.2 1.7c14.4 11.9 32.5 21 50.6 25.2c17.2 4 27.9 21.2 23.9 38.4s-21.2 27.9-38.4 23.9c-24.5-5.7-44.9-16.5-58.2-25C449.5 501.7 417 512 384 512c-31.9 0-60.6-9.9-80.4-18.9c-5.8-2.7-11.1-5.3-15.6-7.7c-4.5 2.4-9.7 5.1-15.6 7.7c-19.8 9-48.5 18.9-80.4 18.9c-33 0-65.5-10.3-94.5-25.8c-13.4 8.4-33.7 19.3-58.2 25c-17.2 4-34.4-6.7-38.4-23.9s6.7-34.4 23.9-38.4c18.1-4.2 36.2-13.3 50.6-25.2c11.1-9.4 27.3-10.1 39.2-1.7l0 0C136.7 437.2 165.1 448 192 448c27.5 0 55-10.6 77.5-26.1c11.1-7.9 25.9-7.9 37 0z"
                        />
                      </svg>
                      <span>Ngư nghiệp</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        SIDE BAR-->

    <!--MAIN-->
    <div style="
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
          ">
      <div class="box__user_pages">
        <div class="row">
          <div class="col-4">
            <div class="user__sidebar">
              <img src="./assets/images/user-default.jpg" alt="logo user" class="user-image" />
              <span class="user-name">Nguyễn Văn A</span>
              <ul class="list__item">
                <li class="item" id="item__active">
                  <a href="#">Thông tin tài khoản</a>
                </li>
                <li class="item">
                  <a href="../user_page_change_password.html">Đổi mật khẩu</a>
                </li>
                <li class="item">
                  <a href="./user_page_history_activities.html">Lịch sử hoạt động</a>
                </li>
                <li class="item">
                  <a href="./user_page_spend_management.html">Quản lý chi tiêu</a>
                </li>
                <li class="item"><a href="./index.html">Đăng xuất</a></li>
              </ul>
            </div>
          </div>
          <div class="col-8">
            <div class="user__info">
              <span class="title">Thông tin tài khoản
                <hr />
              </span>
              <form action="#" method="post">
                <div class="row">
                  <div class="box__info_left col-6">
                    <label for="user-name" class="title__input">Tên tài khoản</label>
                    <input type="text" id="user-name" value="Nguyễn Văn A" style="width: 100%" />
                    <label for="user-birth" class="title__input">Ngày sinh</label>
                    <input type="text" id="user-birth" value="14/7/2002" style="width: 100%" />
                    <label for="user-email" class="title__input">Email</label>
                    <input type="email" id="user-email" value="nva@gmail.com" style="width: 100%" />
                    <label for="user-address" class="title__input">Địa chỉ</label>
                    <input type="text" id="user-address" value="" style="width: 100%" />
                  </div>
                  <div class="box__info_right col-6">
                    <div class="box__sex">
                      <span class="title__input">Giới tính:</span>
                      <div class="list">
                        <input type="radio" id="male" name="sex" value="male" />
                        <label for="male">Nam</label><br />
                        <input type="radio" id="female" name="sex" value="female" />
                        <label for="female">Nữ</label><br />
                        <input type="radio" id="different" name="sex" value="diff" />
                        <label for="different">Khác</label><br /><br />
                      </div>
                    </div>
                    <label for="user-phone" class="title__input">Số điện thoại</label>
                    <input type="text" id="user-phone" value="0123456789" style="width: 100%" />
                    <input type="button" value="Lưu thay đổi" class="button" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MAIN-->
  </div>
</div>