html {
  font-size: 15px;
}

.header__logo {
  width: 20rem;
}

.header__note {
  margin-top: -20px;
  margin-bottom: -15px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Inria Serif", serif;
}

.header__user__avatar {
  width: 3rem;
}

.header__user__name {
  font-size: 1rem;
  text-decoration: none;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.header__user__name:hover .header__user-box {
  display: block;
}

hr {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
}

main {
  margin-top: -15px;
  min-height: calc(100vh - 125px);
}

.sidenav {
  /* bottom: 0;
  left: 0;
  position: absolute;
  top: 0; */
  margin-left: -10px;
  width: 225px;
  background-color: lightgray;
  min-height: calc(100vh - 125px);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.05rem;
  /* font-family: Roboto; */
  font-weight: 600;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: blue;
}

ul {
  padding: 0;
  list-style-type: none;
}

li.sidenav__link.is-selected {
  background-color: cornflowerblue;
}

li.sidenav__sublink.is-selected a {
  color:dodgerblue;
}

li.sidenav__sublink {
  background-color: rgb(225, 225, 225);
  padding-left: 15px;
}

#article-manage-table, #tag-manage-table, #user-manage-1-table, #user-manage-2-table, #user-manage-3-table, #category-manage-2-table {
  display: none;
}

.main {
  padding: 5px 5px 0 10px;
}

.search-container {
  margin: 5px 0;
}

/*Box action user*/
.header__user-box {
  background: white;
  border-radius: 10px;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
  color: #1d2129;
  margin: 0;
  /* overflow: hidden; */
  padding-left: 0;
  transition: all 0.3s ease-in-out;
  will-change: opacity, transform;

  min-width: 230px;
  padding: 8px 24px !important;

  display: none;
  position: absolute;
  top: 60px;
  right: 5px;
  z-index: 100;
}
.header__user:hover .header__user-box {
  display: block;
}

.header__user-box::after {
  position: absolute;
  left: 15px;
  top: -5px;
  width: 100%;
  height: 10px;
  content: "";
}

/* .header__user-info {
} */
.header__user-info header {
  align-items: center;
  display: flex;
}

.header__user-info-icon {
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  width: 40px;
  margin-right: 20px;
}

.header__user-premium {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  left: -10px;
}

.header__user-name {
  color: #292929;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}

.header__user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__user-item a {
  color: #666;
  text-decoration: none;
}

.header__user-item {
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 10px 0;
}

.header__user-item a:hover {
  color: #444343;
}
/*Box action user*/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/
