/*File khởi tạo các css chung cho cả website*/
:root {
  --primary-color: #3399cc;
  --green-color: #00a693;
  --theme-light: #fff;
  --theme-dark: #3f3f3f;
}

* {
  box-sizing: inherit;
  margin: 0;
  max-width: 100%;
}

html {
  /*~10px*/
  font-size: 62.5%;
  line-height: 1.6rem;
  font-size: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
}

.name-news {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
