html {
  font-size: 10px;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-color: orange;
}

.card-title,
h3,
h4 {
  font-family: "Roboto Serif", serif !important;
  font-weight: 650;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
}

.content__new__main .card-body {
  padding-bottom: 10px;
}

/* thanh xu huong */

.trend {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

/* tag */

.tag {
  display: flex;
  flex-direction: row;
}

.tag__item {
  float: left;
  margin-left: 20px;
  font-family: Arial;
  font-size: 13px;
  color: #000;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 0 8px 0 12px;
  max-height: 120px;
  line-height: 24px;
}

span.tag__item:hover {
  background-color: #bfbaba;
}

/* location, temperature, weather */
.local__temp__weather {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding: 0px 0px 0px 10px;
}

.location {
  margin-right: 10px;
}

.temperature {
  margin-right: 10px;
}

.weather {
  margin-right: 10px;
}

/* content property */
.content {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
  max-height: 600px;
}

/* set width for card of news__left and news__right */
.content__news__right,
.content__news__left {
  overflow-y: scroll;
}
.content__news__left::-webkit-scrollbar {
  width: 2px; /* Chiều rộng thanh cuộn */
}

.content__news__left::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của thanh cuộn */
}

.content__news__left::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Màu của thanh cuộn */
}
/* .content__news__right::-webkit-scrollbar, .content__news__left::-webkit-scrollbar {
  display: none;
} */

.content__news__right {
  margin-right: 2%;
  max-width: 100%;
  max-height: 500px;
}

.content__news__left {
  margin-left: 2%;
  padding-right: 0px;
  max-width: 100%;
  max-height: 500px;
}

.content__news__left .card-body {
  padding-bottom: 10px;
}

/* customize the scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-img-top {
  max-height: 375px;
}

/* card-item property */
.card__news__left--extend {
  display: flex;
  flex-direction: column;
}

.card__news__right--extend {
  display: flex;
  flex-direction: row;
}

.category-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.category-time p:nth-child(1) {
  margin-right: 10px;
}

/* customize the object in news__left and news__right */
div.card.card__news__left--extend {
  margin-bottom: 10px;
}

div.card.card__news__right--extend {
  margin-bottom: 10px;
}

div.card.card__news__right--extend img {
  max-width: 150px;
  max-height: 150px;
}

div.card.card__news__left--extend img {
  width: 100%;
  max-height: 300px;
}

/* popular__week__news */
#carousel__popular__week__news {
  width: 100%;
}

#carousel__popular2__week__news {
  width: 100%;
}

.popular__week__news {
  margin-top: 50px;
}

div.card__popular__news--extend img {
  height: 250px;
  width: 950%;
}

div.popular__week__news h4 {
  font-weight: bold;
}

/* lastest__news */

.latest__news__container {
  margin-top: 50px;
}

.latest__news {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  width: 100%;
}

.latest__news__algriculture {
  flex-basis: 300px;
}

.latest__news__sea {
  flex-basis: 300px;
}

/* algriculture and sea*/
div.card {
  max-height: 800px;
  max-width: 800px;
}

div.card.card__latest__main img {
  max-height: 200px;
  width: 100%;
}

.card__latest__item {
  display: flex;
  flex-direction: row;
  height: 150px;
  overflow: hidden;
}

.card__latest__item img {
  width: 200px !important;
  height: auto !important;
}

.img__latest__news {
  align-items: center;
}

footer {
  margin-top: 50px;
}
