.box__user_pages {
  flex: 1 1;
  padding: 10px 30px;
  width: 900px;

  display: flex;
  justify-content: space-between;
}

.box__user_pages .col-4,
.box__user_pages .col-5 {
  padding: 0 30px;
  height: auto;
}

.box__user_pages .col-8,
.box__user_pages .col-7 {
  background-color: rgba(51, 153, 204, 0.3);
  padding: 10px 30px;
  height: auto;
}

.user__sidebar {
  background-color: rgba(51, 153, 204, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.user__sidebar .user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 10px;
}

.user__sidebar .user-name {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.user__sidebar .list__item {
  padding-left: 0;
  margin-top: 20px;
}

.user__sidebar .item a {
  font-size: 1.2rem;
  display: block;
  line-height: 40px;
  width: 100%;
  padding: 0 10px;
  width: 200px;
  border-radius: 8px;
  margin: 5px 0;
}

.user__sidebar #item__active a {
  color: white;
  background: var(--primary-color);
}

.user__sidebar .item a:hover {
  color: white;
  background: var(--primary-color);
}

.user__info .title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}
.user__info .title hr {
  margin-top: 5px;
}

.box__info_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__info .title__input {
  font-size: 1.2rem;
}

.user__info input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.user__info input:focus-within {
  border-bottom: 1px solid var(--primary-color);
}

.box__info_right {
  position: relative;
}

.box__sex {
  display: flex;
}

.list {
  padding-left: 10px;
}

.list label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  transform: translateY(-2px);
}

.user__info .button {
  font-size: 1.2rem;
  line-height: 2rem;
  border: none;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.user__info .button:hover {
  opacity: 0.8;
}

.button-update-pass {
  font-size: 1.2rem;
  line-height: 2rem;
  border: none;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  bottom: 0;
  margin: 0 auto;
}

.user__info .button-update-pass:hover {
  opacity: 0.8;
}
