/*File khởi tạo các css chung cho cả website*/
:root{
    --primary-color: #3399cc
    --green-color: #00a693;
}

*{
    box-sizing: inherit;
    margin: 0;
}

html{
    /*~10px*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-size: 'Roboto', sans-serif;
    box-sizing: border-box;
}

